@{
    ViewData["Title"] = "Buscador";
}

<section class="section-buscador">
    <div class="search-var">
        <form action='@Url.Action("Buscador", "Producto")' method="post">
            <img src="~/img/Iconos/search.png" alt="Icono Search" class="Iconos">
            <input type="text" class="form-control" id="search" name="busqueda">
            <input type="submit" class="botonInput" value="Buscar">
        </form>
    </div>
    <p class="titles">Productos más buscados</p>
    <div class="productos">
        @foreach (Productos producto in ViewBag.ListarProductos)
        {
            <div class="producto">
                <img src="@producto.ImagenProducto" alt="img-producto" class="img-producto" />
                <form method="post" id="formProducto" action="/Producto/InformacionProducto">
                    <a class="subtitles">@producto.Nombre @producto.Cantidad</a>
                </form>
            </div>
        }
    </div>
</section>
