@{
    ViewData["Title"] = "Inicio";
}

<!-- <section class="indexVector">
    <div>
        <img src="" alt="Logotipo Blanco y Negro">
        <p>Escaneá. Entendé. Elegí.</p>
        <button>¡Empieza ahora!</button>
    </div>
</section> -->

<section class="landingPage">
    <div class="indexIntro">
        <img src="~/img/Varias/IndexIntro.jpg" alt="Imagen Introduccion">

        <div>
            <p class="titles">Una forma fácil de leer los ingredientes</p>
            <p>Somos Nutrinfo. Un proyecto el cual quiere que las personas puedan entender bien que hay en sus alimentos
                y
                poder acabar con esta problemática que afecta a demasiadas personas. Nosotros mostramos los ingredientes
                de
                los alimentos de una forma mas sencilla y a su vez, con nuestro sistema de perfil personalizado, les
                avisamos a los usuarios si pueden comer cierto alimento.</p>
            <a href='@Url.Action("Buscador", "Producto")' class="buttons">Buscá un producto</a>
        </div>
    </div>

    <div class="indexSlogan">
        <div>
            <img src="~/img/Varias/NutriScaner.png" alt="Imagen Nutri Escanea">
            <p class="titles">Escaneá</p>
            <p>Escaneá o buscá cualquier alimentos y obtené la información al instante. Nutrinfo detecta el producto y
                te muestra todo lo esencial para que puedas revisarlo rápido y sin complicaciones cada vez que tengas
                dudas.</p>
        </div>
        <div>
            <img src="~/img/Varias/NutriSorpresa.png" alt="Imagen Nutri Entende">
            <p class="titles">Entendé</p>
            <p>Entendé cada ingrediente con explicaciones simples y directas. Podés saber qué significa lo
                que aparece en la etiqueta y poder resolver esas preguntas que siempre quedan en el aire.</p>
        </div>
        <div>
            <img src="~/img/Varias/NutriCompra.png" alt="Imagen Nutri Elegi">
            <p class="titles">Elegí</p>
            <p>Elegí lo que te hace bien sin perder tiempo. Nutrinfo te acompaña para que revises lo
                importante y completes tus compras con la tranquilidad de saber qué estás llevando.</p>
        </div>
    </div>

    <div class="indexPerfilPersonal">
        <div>
            <p class="titles">No mas dudas de que podés comer</p>
            <p>A la vez que puedes leer los ingredientes escritos de una forma mas fácil, puedes usar nuestro sistema de
                perfil personalizado, integrado con inteligencia artificial, el cual te advierte según tus restricciones
                alimentarias de si deberías comer el producto que estas buscando, brindándote la tranquilidad de saber
                exactamente qué estás consumiendo.</p>
            <a href='@Url.Action("PerfilPersonalizado", "Usuario")' class="buttons">Creá tu perfil personalizado</a>
        </div>

        <img src="~/img/Varias/IndexPerfilPersonalizado.jpg" alt="Imagen Perfil Personalizado">
    </div>

    <p class="titles">Miembros</p>

    <div class="indexIntegrantes">
        <div>
            <img src="~/img/Varias/BenjaminK.jpg" alt="Foto Benjamin K">
            <p class="names">Benjamin Kracovitz</p>
            <p>Project Leader y Fullstack Developer</p>
        </div>
        <div>
            <img src="~/img/Varias/AndresF.jpg" alt="Foto Andres F">
            <p class="names">Andres Furland</p>
            <p>Backend Developer</p>
        </div>
        <div>
            <img src="~/img/Varias/MartinaK.jpg" alt="Foto Martina K">
            <p class="names">Martina Korinfeld</p>
            <p>Frontend Developer</p>
        </div>
    </div>

    <div class="indexCallToAction">
        <p class="titles">Tu guía para entender qué comés</p>
        <p>Sabemos que leer etiquetas puede ser un dolor de cabeza. Por eso creamos Nutrinfo, tu guía para entender los
            alimentos de forma clara, rápida y sin términos confusos. Elegí con confianza y comé con tranquilidad. ¿Qué
            esperas para empezar a usar Nutrinfo?</p>
        <a href='@Url.Action("Registrarse", "Usuario")' class="buttons">¡Creá ya tu cuenta!</a>
    </div>
    <section>