@{
    ViewData["Title"] = "Inicio";
}

<!-- <section class="indexVector">
    <div>
        <img src="" alt="Logotipo Blanco y Negro">
        <p>Escaneá. Entendé. Elegí.</p>
        <button>¡Empieza ahora!</button>
    </div>
</section> -->

<section class="landingPage">
<div class="indexIntro">
    <img src="~/img/Varias/IndexIntro.jpg" alt="Imagen Introduccion">

    <div>
        <p class="titles">Una forma fácil de leer los ingredientes</p>
        <p>Somos Nutrinfo. Un proyecto el cual quiere que las personas puedan entender bien que hay en sus alimentos y
            poder acabar con esta problemática que afecta a demasiadas personas. Nosotros mostramos los ingredientes de
            los alimentos de una forma mas sencilla y a su vez, con nuestro sistema de perfil personalizado, les
            avisamos a los usuarios si pueden comer cierto alimento.</p>
        <a href='@Url.Action("Buscador", "Producto")' class="buttons">Buscá un producto</a>
    </div>
</div>

<div class="indexSlogan">
    <div>
        <img src="" alt="Imagen Nutri Escanea">
        <p class="titles">Escaneá</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi et, labore vel earum voluptate ratione
            eveniet nam ea quo eligendi quia officia reprehenderit beatae. Sit enim cupiditate architecto sapiente
            repellat?</p>
    </div>
    <div>
        <img src="" alt="Imagen Nutri Entende">
        <p class="titles">Entendé</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore placeat doloremque quisquam, ab unde alias
            neque consequuntur ducimus commodi dolor id vero error aliquam eligendi voluptatibus? Iure quaerat ex
            facilis!</p>
    </div>
    <div>
        <img src="" alt="Imagen Nutri Elegi">
        <p class="titles">Elegí</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo optio minus adipisci, minima pariatur in
            libero dolorem eius at dolorum ea, repudiandae, natus vitae sed iure numquam quia ut!</p>
    </div>
</div>

<div class="indexPerfilPersonal">
    <div>
        <p class="titles">No mas dudas de que podés comer</p>
        <p>A la vez que puedes leer los ingredientes escritos de una forma mas fácil, puedes usar nuestro sistema de
            perfil personalizado, integrado con inteligencia artificial, el cual te advierte según tus restricciones
            alimentarias de si deberías comer el producto que estas buscando, brindándote la tranquilidad de saber
            exactamente qué estás consumiendo.</p>
        <a href='@Url.Action("PerfilPersonalizado", "Usuario")' class="buttons">Creá tu perfil personalizado</a>
    </div>

    <img src="~/img/Varias/IndexPerfilPersonalizado.jpg" alt="Imagen Perfil Personalizado">
</div>

<p class="titles">Miembros</p>

<div class="indexIntegrantes">
    <div>
        <img src="~/img/Varias/BenjaminK.jpg" alt="Foto Benjamin K">
        <p class="names">Benjamin Kracovitz</p>
        <p>Project Leader y Fullstack Developer</p>
    </div>
    <div>
        <img src="~/img/Varias/AndresF.jpg" alt="Foto Andres F">
        <p class="names">Andres Furland</p>
        <p>Backend Developer</p>
    </div>
    <div>
        <img src="~/img/Varias/MartinaK.jpg" alt="Foto Martina K">
        <p class="names">Martina Korinfeld</p>
        <p>Frontend Developer</p>
    </div>
</div>

<div class="indexCallToAction">
    <p class="titles">Tu guía para entender qué comés</p>
    <p>Sabemos que leer etiquetas puede ser un dolor de cabeza. Por eso creamos Nutrinfo, tu guía para entender los
        alimentos de forma clara, rápida y sin términos confusos. Elegí con confianza y comé con tranquilidad. ¿Qué
        esperas para empezar a usar Nutrinfo?</p>
    <a href='@Url.Action("Registrarse", "Usuario")' class="buttons">¡Creá ya tu cuenta!</a>
</div>
<section>