@{
    ViewData["Title"] = "Inicio";
}

<!-- <section class="indexVector">
    <div>
        <img src="" alt="Logotipo Blanco y Negro">
        <p>Escaneá. Entendé. Elegí.</p>
        <button>¡Empieza ahora!</button>
    </div>
</section> -->

<section class="indexIntro">
    <img src="~/img/Varias/IndexIntro.jpg" alt="Imagen Introduccion">

    <div>
        <p class="titles">Una forma fácil de leer los ingredientes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quos quae delectus molestiae quidem expedita,
            iusto cupiditate alias nam consectetur corrupti est. Deleniti, rerum quasi cum aperiam magnam nobis
            voluptatum?</p>
        <button>Buscá un producto</button>
    </div>
</section>

<section class="indexSlogan">
    <div>
        <img src="" alt="Imagen Nutri Escanea">
        <p class="titles">Escaneá</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi et, labore vel earum voluptate ratione
            eveniet nam ea quo eligendi quia officia reprehenderit beatae. Sit enim cupiditate architecto sapiente
            repellat?</p>
    </div>
    <div>
        <img src="" alt="Imagen Nutri Entende">
        <p class="titles">Entendé</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore placeat doloremque quisquam, ab unde alias
            neque consequuntur ducimus commodi dolor id vero error aliquam eligendi voluptatibus? Iure quaerat ex
            facilis!</p>
    </div>
    <div>
        <img src="" alt="Imagen Nutri Elegi">
        <p class="titles">Elegí</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo optio minus adipisci, minima pariatur in
            libero dolorem eius at dolorum ea, repudiandae, natus vitae sed iure numquam quia ut!</p>
    </div>
</section>

<section class="indexPerfilPersonal">
    <div>
        <p class="titles">No mas dudas de que podés comer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, soluta, quia placeat alias eum autem
            error omnis ea itaque, maxime vero in sapiente facere accusantium voluptate illum quidem aspernatur
            accusamus!</p>
        <button>Creá tu perfil personalizado</button>
    </div>

    <img src="~/img/Varias/IndexPerfilPersonalizado.jpg" alt="Imagen Perfil Personalizado">
</section>

<p class="titles">Miembros (y ex-miembros)</p>

<section class="indexIntegrantes">
    <div>
        <img src="" alt="Foto Benjamin K">
        <p class="names">Benjamin Kracovitz</p>
        <p>Project Leader y Fullstack</p>
    </div>
    <div>
        <img src="" alt="Foto Andres F">
        <p class="names">Andres Furland</p>
        <p>Backend</p>
    </div>
    <div>
        <img src="" alt="Foto Martina K">
        <p class="names">Martina Korinfeld</p>
        <p>Frontend</p>
    </div>
    <div>
        <img src="" alt="Foto Florencia S">
        <p class="names">Florencia Sirotinsky</p>
        <p>Abril 2025 - Julio 2025</p>
    </div>
</section>

<section class="indexCallToAction">
    <p class="titles">Tu guía para entender qué comés</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, itaque blanditiis voluptatem molestiae necessitatibus earum voluptatibus expedita reiciendis doloremque maxime cupiditate accusamus asperiores! Ad cum exercitationem neque pariatur eius laudantium?</p>
    <button>¡Creá ya tu cuenta!</button>
</section>