@{
    ViewData["Title"] = "Inicio";
}

<section class="indexVector">
    <div>
        <img src="" alt="Logotipo Blanco y Negro">
        <p>Escaneá. Entendé. Elegí.</p>
        <button>¡Empieza ahora!</button>
    </div>
</section>

<section class="indexIntro">
    <img src="" alt="">

    <div>
        <p></p>
        <p></p>
        <button></button>
    </div>
</section>

<section class="indexSlogan">
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
</section>

<section class="indexPerfilPersonal">
    <div>
        <p></p>
        <p></p>
        <button></button>
    </div>

    <img src="" alt="">
</section>

<section class="indexIntegrantes">
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <p></p>
        <p></p>
    </div>
</section>

<section class="indexCallToAction">

</section>