@font-face {
  font-family: 'Nexa';
  src: url('~/fonts/Nexa-Heavy.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Nexa';
  padding: 1%;
  background-color: #6BCB77;
}

header .Logo {
  width: 5%;
  height: auto;
}

header .Iconos{
  width: 0.9%;
  height: auto;
  margin-right: 0.5%;
}

header nav ul {
  list-style: none;
}

header nav ul li a {
  font-size: x-large;
  color: #000000;
  text-decoration: none;
}

header nav ul li a:hover{
  text-decoration: underline;
}