@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display Medium';
  src: url('/fonts/CreatoDisplay-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display Bold';
  src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Nexa';
  background-color: #6BCB77;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5%;
  position: sticky;
  top: 0;
}

header .Logo {
  width: 3%;
  height: auto;
  margin-left: 5%;
  margin-right: 1%;
}

.Iconos {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0 !important;
}

:last-child nav ul li {
  margin-right: 10%;
}

header nav {
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 37.5%;
}

.div-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7.5%;
  width: 30%;
}

.div-log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

header div {
  margin-right: 5%;
}

header nav ul li a,
.div-home a {
  font-size: x-large;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
}


header nav ul li a:hover,
.div-home a:hover {
  text-decoration: underline;
}

.dropdown .dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  font-size: x-large;
  color: #000000;
}

.dropdown-menu li {
  display: flex !important;
  align-items: center !important;
}

.dropdown-menu li a {
  color: #000000;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none !important;
}

.div-log .dropdown-toggle:hover,
.div-log .dropdown-toggle:focus,
.div-log .dropdown-toggle:active,
.div-log .show > .dropdown-toggle,
.div-log .dropdown-toggle:focus-visible {
    background-color: transparent !important;
    text-decoration: underline;
    color: #000 !important;
    box-shadow: none !important;
    outline: none !important;
}

/*Preguntarle a Ceriana como arreglar el tema del hover blanco*/

.firstFooter {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 1%;
  padding-bottom: 1%;
}

.firstFooter div {
  text-align: center;
}

.firstFooter .Logo {
  width: 30%;
  height: auto;
}

.titles {
  font-family: 'Nexa';
  font-size: x-large;
  text-align: start;
}

.icon-text {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2%;
}

.icon-text .icons {
  width: 5%;
  height: auto;
  margin-right: 1%;
}

.firstFooter a {
  font-family: 'Creato Display Medium';
  color: black;
  text-align: start;
}

.descargas {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: start;
}

.secondFooter {
  background-color: #1C658C;
  color: white;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.secondFooter a,
.secondFooter p {
  font-family: 'Creato Display Medium';
  color: white;
}

.secondFooter p {
  margin-bottom: 0.25%;
}