@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display Medium';
  src: url('/fonts/CreatoDisplay-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Creato Display Bold';
  src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Creato Display Medium';
}

/* HEADER */

header {
  background-color: #6BCB77;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5%;
  position: sticky;
  top: 0;
}

header .Logo {
  width: 3%;
  height: auto;
  margin-left: 6%;
  margin-right: 1%;
}

.Iconos {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0 !important;
}

:last-child nav ul li {
  margin-right: 10%;
}

header nav {
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 37.5%;
}

.div-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7.5%;
  width: 30%;
}

.div-log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

header div {
  margin-right: 5%;
}

header nav ul li a,
.div-home a {
  font-family: 'Nexa';
  font-size: x-large;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
}


header nav ul li a:hover,
.div-home a:hover {
  text-decoration: underline;
}

.dropdown .dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  font-size: x-large;
  color: #000000;
  font-family: 'Nexa';
}

.dropdown-menu li {
  display: flex !important;
  align-items: center !important;
}

.dropdown-menu li a {
  color: #000000;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none !important;
}

.div-log .dropdown-toggle:hover,
.div-log .dropdown-toggle:focus,
.div-log .dropdown-toggle:active,
.div-log .show>.dropdown-toggle,
.div-log .dropdown-toggle:focus-visible {
  background-color: transparent !important;
  text-decoration: underline;
  color: #000000 !important;
  box-shadow: none !important;
  outline: none !important;
}

/*Preguntarle a Ceriana como arreglar el tema del hover blanco*/

.section-buscador,
.homeMision,
.perfil-personalizado,
.landingPage {
  margin-left: 6%;
  margin-right: 6%;
}

/* INDEX */

section p {
  font-family: 'Creato Display Medium';
}

section .buttons,
.botonInput {
  font-family: 'Creato Display Medium';
  border: none;
  background-color: #1c658c;
  color: white;
  padding: 10px;
  border-radius: 12.5px;
  text-decoration: none;
}

section .buttons:hover,
.botonInput:hover {
  text-decoration: underline;
}

.titles {
  font-family: 'Nexa';
  font-size: xx-large;
  text-align: center;
}

.indexIntro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 5%;
}

.indexIntro img {
  width: 35%;
  border-radius: 15px;
}

.indexIntro div,
.indexIntro .titles {
  text-align: start;
}

.indexSlogan {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin-bottom: 5%;
}

.indexSlogan div {
  text-align: center;
}

.indexPerfilPersonal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  margin-bottom: 5%;
}

.indexPerfilPersonal .titles {
  text-align: start;
}

.indexPerfilPersonal img {
  width: 35%;
  border-radius: 15px;
}

.indexIntegrantes {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 8%;
  margin-bottom: 5%;
}

.indexIntegrantes div {
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.indexIntegrantes .names {
  font-family: 'Creato Display Bold';
  font-size: large;
}

.indexIntegrantes img {
  width: 50%;
  height: auto;
  border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.indexCallToAction {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}

/* INICIAR SESION */

.layoutIniciarSesion {
  background-image: url("../img/Varias/Circulo2.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.layoutRegistrarse {
  background-image: url("../img/Varias/Circulo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%;
  width: 100%;
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutIniciarSesion form,
.layoutRegistrarse form {
  background-color: #f0f0f0;
  padding: 5%;
  border-radius: 15px;
}

.layoutIniciarSesion form .botonInput {
  margin-top: 4%;
}

.IniciarSesion,
.Registrarse {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bloque-inicio,
.bloque-registro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  width: 100%;
}

.bloque-inicio img,
.bloque-registro img {
  width: 4%;
  height: auto;
}

.bloque-inicio p,
.bloque-registro p {
  font-family: 'Creato Display Medium';
  margin-top: 3%;
}

.circulo-inicio {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5%;
}

.circulo-registrarse {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 5%;
}

.circulo-inicio img,
.circulo-registrarse img {
  width: 60%;
  height: auto;
  margin-bottom: 5%;
}

.circulo-inicio p,
.circulo-registrarse p {
  width: 70%;
  font-family: 'Creato Display Medium';
  text-align: justify;
  font-size: large;
}

.ARegistrar p,
.AInicio p {
  margin-right: 2% !important;
  margin: 0%;
}

.ARegistrar,
.AInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  width: 100%;
}

.bloqueCheckmark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.bloqueCheckmark p {
  margin-top: 3%;
}

.error {
  background-color: pink;
  color: #E70023;
  padding: 1.5%;
  border-radius: 10px;
  border: 1px solid #E70023;
}

/* BUSCADOR */
.section-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.search-var {
  align-items: center;
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 2%;
}

.search-var button {
  padding: 2% !important;
}

.productos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-left: 7%;
  margin-right: 7%;
}

.img-producto {
  width: 70%;
  height: auto;
  margin: 5%;
}

.producto {
  text-align: center;
  background-color: #1C658C;
  border-radius: 25px;
  cursor: pointer;
  padding: 5%;
}

.producto p {
  color: #ffffff;
}

.producto:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* EXITO */
.main-registrado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.main-registrado img {
  width: 10%;
  height: auto;
}

.botones-registrado {
  width: 40%;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 2%;
}

.main-registrado p {
  width: 40%;
  text-align: center;
  margin: 0;
}

/* PERFIL PERSONALIZADO */

.perfilPersonalizado {
  margin-top: 5%;
  margin-bottom: 5%;
}

.centrarForm {
  display: flex;
  justify-content: center;
}

.layoutPerfilPerso {
  background-color: #f0f0f0;
  width: 45%;
  padding: 2%;
  border-radius: 15px;
}

.perfilPregunta {
  display: flex;
  justify-content: space-between;
}

.perfilPregunta p {
  font-family: 'Creato Display Bold';
  font-size: large;
}

.perfilPregunta p:last-child {
  margin-left: 5%;
}

.perfilBotones {
  margin-top: 3%;
}

.perfilBotones button:first-child {
  background-color: #298ec4;
}


.perfilBotones button:last-child {
  background-color: #1C658C;
}

/* FOOTER */

.firstFooter {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 1%;
  padding-bottom: 1%;
}

.firstFooter div {
  text-align: center;
}

.firstFooter .Logo {
  width: 30%;
  height: auto;
}

.footerTitles {
  font-family: 'Nexa';
  font-size: x-large;
  text-align: start;
  margin: 0;
}

.icon-text {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2%;
}

.icon-text .icons {
  width: 5%;
  height: auto;
  margin-right: 1%;
}

.firstFooter a {
  font-family: 'Creato Display Medium';
  color: black;
  text-align: start;
}

.firstFooter a p {
  margin: 0;
}

.descargas {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: start;
}

.secondFooter {
  background-color: #1C658C;
  color: white;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.secondFooter a,
.secondFooter p {
  font-family: 'Creato Display Medium';
  color: white;
}

.secondFooter p {
  margin-bottom: 0.25%;
  margin: 0;
}