@{
    ViewData["Title"] = "Cerrar sesión";
}

<section class="main-registrado">
    <p class="titles">¡Esperamos que vuelvas!</p>
    <img src="~/img/Varias/NutriTriste.png" alt="Imagen Nutriste">
    <a href='@Url.Action("Index", "Home")' class="buttons">Volver al inicio</a>
</section>