@{
    ViewData["Title"] = "Cerrar sesión";
}

<section class="main-registrado">
<p class="titles">¡Esperamos que vuelvas!</p>
<img src="" alt="Imagen Nutri Bye">
    <a href='@Url.Action("Registrarse", "Usuario")' class="buttons">Volver al inicio</a>
</section>