@{
    ViewData["Title"] = "Configuraci칩n";
}

<section class="main-registrado">
    <p class="titles">P치gina en construcci칩n</p>
    <img src="~/img/Varias/NutriConstruccion.png" alt="Imagen Nutris Construcci칩n" class="nutriConstruccion">
    <a href='@Url.Action("Index", "Home")' class="buttons">Volver al inicio</a>
</section>