@{
    ViewData["Title"] = "Exito";
}

<section class="main-registrado">
    <p class="titles">¡Tu perfil ha sido creado con exito!</p>
    <img src="~/img/Varias/Nutri Form.png" alt="Imagen Nutri Form">
    <p class="subtitles">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quasi veritatis dolor nihil velit
        itaque adipisci totam alias, maiores natus, eum nobis eius sit cupiditate ducimus, debitis vero voluptatibus
        nostrum.</p>
    <div class="botones-registrado">
        <a href='@Url.Action("Buscador", "Producto")' class="buttons">Empieza a buscar productos</a>
    </div>
</section>