@{
    ViewData["Title"] = "Exito";
}

@using Newtonsoft.Json
@using Nutrinfo.Models
@{
    Usuarios usuarioLogeado = Objeto.StringToObject<Usuarios>(Context.Session.GetString("Usuario"));
}


<section class="main-registrado">
    <p class="titles">¡Bienvenido/a de nuevo @usuarioLogeado.Nombre!</p>
    <img src="~/img/Varias/NutriTick.png" alt="Imagen Nutri Hey">
    <p>Nos alegra tenerte otra vez por acá. Tu cuenta ya está lista y podés empezar a explorar productos, escanear
        etiquetas y ver toda la información que Nutrinfo preparó para vos.</p>
    <div class="botones-registrado">
        <a href='@Url.Action("Buscador", "Producto")' class="buttons">Empieza a buscar productos</a>
        <a href='@Url.Action("PerfilPersonalizado", "Usuario")' class="buttons">Crea tu perfil personalizado</a>
    </div>
</section>