@{
    ViewData["Title"] = "Exito";
}

<section class="main-registrado">
    <p class="titles">¡Tu perfil ha sido creado con exito!</p>
    <img src="~/img/Varias/NutriEstrella.png" alt="Imagen Nutri Form">
    <p>A partir de ahora, Nutrinfo va a ayudarte a entender mejor cada producto según tus propias necesidades. Explorá,
        descubrí y elegí con tranquilidad: todo lo que veas va a estar adaptado a vos.</p>
    <div class="botones-registrado">
        <a href='@Url.Action("Buscador", "Producto")' class="buttons">Empieza a buscar productos</a>
    </div>
</section>