@{
    ViewData["Title"] = "Exito";
    Usuarios usuarioLogeado = Objeto.StringToObject<Usuarios>(Context.Session.GetString("Usuario"));
}


<section class="main-registrado">
    <p class="titles">¡Bienvenido/a @usuarioLogeado.Nombre!</p>
    <img src="~/img/Varias/NutriTick.png" alt="Imagen Nutri Checkmark">
    <p>Tu cuenta ha sido creada con exito. Ahora podés empezar a explorar productos, conocer sus ingredientes y
                descubrir qué hay detrás de lo que comés.</p>
    <div class="botones-registrado">
        <a href='@Url.Action("Buscador", "Producto")' class="buttons">Empieza a buscar productos</a>
        <a href='@Url.Action("PerfilPersonalizado", "Usuario")' class="buttons">Crea tu perfil personalizado</a>
    </div>
</section>