@{
    ViewData["Title"] = "Perfil personalizado";
}

<section class="perfilPersonalizado">
    <p class="titles">Perfil personalizado</p>

    <div class="layoutPerfilPerso">
        <form>
            <div id="pasoUno">
                <div class="perfilPregunta">
                    <p>¿Sufres algunas de estas alergias alimentarias comunes?</p>
                    <p>1/6</p>
                </div>
                <div class="perfilCheckmarks">
                    <input type="checkbox" value="Mani (cacahuete)"> Maní (cacahuete) <br>
                    <input type="checkbox" value="Frutos secos (almendras, nueces, avellanas, pistachos, etc.)"> Frutos
                    secos (almendras, nueces, avellanas, pistachos, etc.) <br>
                    <input type="checkbox" value="Huevo"> Huevo <br>
                    <input type="checkbox" value="Pescado"> Pescado <br>
                    <input type="checkbox" value="Mariscos (crustáceos, moluscos, etc)"> Mariscos (crustáceos, moluscos) <br>
                    <input type="checkbox" value="Soja"> Soja <br>
                    <input type="checkbox" value="Sesamo"> Sésamo <br>
                    <input type="checkbox" value="Leche"> Leche <br>
                    <input type="checkbox" value="Trigo"> Trigo <br>
                    <input type="checkbox" value="Ninguno"> Ninguna de las anteriores <br>
                </div>
            </div>

            <div class="perfilBotones">
                <a href="" class="buttons">Atras</a>
                <a href="" class="buttons">Continuar</a>
            </div>
        </form>
    </div>
</section>