@{
    ViewData["Title"] = "Perfil personalizado";
}

<section class="perfilPersonalizado">
    <p class="titles">Perfil personalizado</p>

    <div class="layoutPerfilPerso">
        <form>
            <div class="pasosPerfil">
                <div class="perfilPregunta">
                    <p>¿Sufres algunas de estas alergias alimentarias comunes?</p>
                    <p>1/6</p>
                </div>
                <div class="perfilCheckmarks">
                    <input type="checkbox" value="Mani (cacahuete)"> Maní (cacahuete) <br>
                    <input type="checkbox" value="Frutos secos (almendras, nueces, avellanas, pistachos, etc.)"> Frutos
                    secos (almendras, nueces, avellanas, pistachos, etc.) <br>
                    <input type="checkbox" value="Huevo"> Huevo <br>
                    <input type="checkbox" value="Pescado"> Pescado <br>
                    <input type="checkbox" value="Mariscos (crustáceos, moluscos, etc)"> Mariscos (crustáceos, moluscos)
                    <br>
                    <input type="checkbox" value="Soja"> Soja <br>
                    <input type="checkbox" value="Sesamo"> Sésamo <br>
                    <input type="checkbox" value="Leche"> Leche <br>
                    <input type="checkbox" value="Trigo"> Trigo <br>
                    <input type="checkbox" value="Ninguno"> Ninguna de las anteriores <br>
                </div>

                <div class="perfilBotones">
                    <button type="button" class="continuar buttons">Continuar</button>
                </div>
            </div>

            <div class="pasosPerfil">
                <div class="perfilPregunta">
                    <p>¿Sufres algunas de estas intolerancias y sensibilidades comunes?</p>
                    <p>2/6</p>
                </div>
                <div class="perfilCheckmarks">
                    <input type="checkbox" value="Intolerancia a la lactosa"> Intolerancia a la lactosa <br>
                    <input type="checkbox" value="Intolerancia a la fructosa"> Intolerancia a la fructosa <br>
                    <input type="checkbox" value="Intolerancia al sorbitol / polioles"> Intolerancia al sorbitol /
                    polioles <br>
                    <input type="checkbox" value="Sensibilidad al gluten (no celiaca)"> Sensibilidad al gluten (no
                    celíaca) <br>
                    <input type="checkbox" value="Histamina"> Histamina <br>
                    <input type="checkbox" value="Cafeina"> Cafeína <br>
                    <input type="checkbox" value="Ninguno"> Ninguna de las anteriores <br>
                </div>

                <div class="perfilBotones">
                    <button type="button" class="atras buttons">Atras</button>
                    <button type="button" class="continuar buttons">Continuar</button>
                </div>
            </div>

            <div class="pasosPerfil">
                <div class="perfilPregunta">
                    <p>¿Sufres algunas de estas enfermedades o condiciones médicas con restricciones?</p>
                    <p>3/6</p>
                </div>
                <div class="perfilCheckmarks">
                    <input type="checkbox" value="Enfermedad celiaca (gluten free obligatorio)"> Enfermedad celíaca
                    (gluten free obligatorio) <br>
                    <input type="checkbox" value="Diabetes (control de azucares, carbohidratos, indice glucemico)">
                    Diabetes (control de azúcares, carbohidratos, índice glucémico) <br>
                    <input type="checkbox" value="Hipertension (restriccion de sodio)"> Hipertensión (restricción de
                    sodio) <br>
                    <input type="checkbox" value="Enfermedad renal (control de potasio, fosforo, proteinas, sodio)">
                    Enfermedad renal (control de potasio, fósforo, proteínas, sodio) <br>
                    <input type="checkbox" value="Enfermedad hepatica (control de proteinas, grasas, sodio)"> Enfermedad
                    hepática (control de proteínas, grasas, sodio) <br>
                    <input type="checkbox"
                        value="Fenilcetonuria (PKU) (evitar fenilalanina, presente en proteinas y aspartamo)">
                    Fenilcetonuria (PKU) (evitar fenilalanina) <br>
                    <input type="checkbox" value="Gota (reducir purinas: visceras, carnes rojas, mariscos)"> Gota
                    (reducir purinas: vísceras, carnes rojas, mariscos) <br>
                    <input type="checkbox" value="Dislipidemia / colesterol alto (control de grasas saturadas y trans)">
                    Dislipidemia / colesterol alto (control de grasas saturadas y trans) <br>
                    <input type="checkbox" value="Enfermedad de Crohn / colitis ulcerosa"> Enfermedad de Crohn / colitis
                    ulcerosa (dietas específicas según tolerancia) <br>
                    <input type="checkbox" value="Ninguno"> Ninguna de las anteriores <br>
                </div>

                <div class="perfilBotones">
                    <button type="button" class="atras buttons">Atras</button>
                    <button type="button" class="continuar buttons">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</section>