@{
    ViewData["Title"] = "Registrarse";
}

<section class="layoutRegistrarse">
    <div class="circulo-registrarse">
        <img src="~/img/Logo/Logotipo ByN.png" alt="Logotipo Nutrinfo" />
        <p>¡Creá tu cuenta y empezá a entender lo que comés! Con Nutrinfo vas a poder buscar productos, conocer sus
            ingredientes y tomar decisiones más conscientes sobre tu alimentación.</p>
    </div>

    <div class="Registrarse">
        <p class="titles">Registrarse</p>
        @if (@ViewBag.error != "")
        {
            <p class="error">@ViewBag.error</p>
        }
        else
        {
            <p></p>
        }
        <form action='@Url.Action("Registrarse", "Usuario")' method="post">

            <div class="bloque-registrarse">
                <div class="bloque-registro">
                    <img src="~/img/Iconos/usuario.png" alt="Icono Email" />
                    <p>Nombre</p>
                </div>
                <input type="text" class="form-control" id="email" name="nombre" required />
            </div>
            <div class="bloque-registrarse">
                <div class="bloque-registro">
                    <img src="~/img/Iconos/usuario.png" alt="Icono Email" />
                    <p>Apellido</p>
                </div>
                <input type="text" class="form-control" id="email" name="apellido" required />
            </div>
            <div class="bloque-registrarse">
                <div class="bloque-registro">
                    <img src="~/img/Iconos/envelope.png" alt="Icono Email" />
                    <p>Email</p>
                </div>
                <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="bloque-registrarse">
                <div class="bloque-registro">
                    <img src="~/img/Iconos/lock.png" alt="Icono Contraseña" />
                    <p>Contraseña</p>
                </div>
                <input type="password" class="form-control" id="password" name="contrasena" required />
            </div>

            <div class="bloqueCheckmark">
                <input type="checkbox" required>
                <p>He leido y acepto los <a href="">Términos y Condiciones</a></p>
            </div>

            <input type="submit" value="Registrase" class="botonInput" />
        </form>

        <div class="AInicio">
            <p>¿Ya tenés una cuenta?</p>
            <a href='@Url.Action("IniciarSesion", "Usuario")' class="buttons">Inicia sesión</a>
        </div>
    </div>
</section>